@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;400&family=Roboto:wght@100;400&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", "Roboto", sans-serif;
}
.built-by {
  display: flex;
}
.app {
  background-color: #f1f1f8;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(29, 29, 29);
  min-height: 100vh;
  padding-bottom: 20px;
}

h1 {
  text-transform: capitalize;
}

.main {
  margin-top: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 50px;
  column-gap: 50px;
  margin: 0 100px;
}

.bookCard {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
  transition: 0.3s;
  width: 100%;
  height: 100%;
  max-width: 300px;

  padding: 2px;
  display: flex;
  justify-content: center;
  overflow: hidden;
}
.bookCard:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.container {
  padding: 2px 16px;
}
.content div img {
  width: 50%;
  height: auto;
}

.search {
  margin: 5vh 0;
  /* display: flex;
  align-items: center;
  justify-content: center; */
}
.card {
  margin-top: 2vh;
  border: 1px solid gray;

  height: 300px;
  width: 300px;
  max-width: 700px;
  display: grid;
  place-items: center;
}
.card-btn {
  background-color: #418a68;
  padding: 5px;
  border-radius: 5px;
  color: #f1f1f8;
  text-decoration: none;
  padding-bottom: 2px;
}
.card-btn:hover {
  color: #418a68;
  background-color: #f1f1f8;
  border: 1px solid #418a68;
}
.flex {
  width: 100%;
  height: 80%;
  max-width: 200px;
}

.search button {
  background-color: #75797a;
  padding: 5px;
  color: #f1f1f8;
  font-size: large;
  border-radius: 5px;
}
.search button:hover {
  background-color: #f1f1f8;
  color: #75797a;
  border: 1px solid #75797a;
  animation-duration: 0.5s;
}
.search input {
  width: 200px;
  height: 40px;
  font-size: large;
  border: 2px solid #418a68;
  border-radius: 5px;
}
@media (max-width: 1000px) {
  .content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 5vh;
    row-gap: 5vh;

    place-items: center;
  }
}
@media (max-width: 700px) {
  .content {
    display: grid;
    grid-template-columns: 1fr;

    row-gap: 5vh;

    place-items: center;
  }
  .main {
    font-size: 4vw;
    text-align: center;
  }
}
@media (max-width: 300px) {
  .search button {
    background-color: #75797a;
    padding: 5px;
    margin-top: 1vh;
    color: #f1f1f8;
    font-size: large;
    border-radius: 5px;
  }
}
